kid.log
kid.p
kid.h
kid_built.bin
kid.bin
level/*.bin
level/*/*.bin
level/platform/*.asm
level/level_files.txt
theme/*.bin
theme/*/*.bin
theme/*/*/*.bin
scenes/*/*.bin
ingame/*/*.bin
misc/*/*.bin
sound/*.bin